<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia distinctio commodi expedita explicabo ipsum voluptates in numquam tempore accusantium repellendus voluptatum sapiente autem, iure impedit maiores omnis nisi, excepturi alias.
        </p>
    </footer>
</body>
</html>